.navbar {
    margin-bottom: 0;
    min-height: 55px;
}
.navbar-default {
    background: #eee;
}
.navbar-brand {
    padding: 8px 15px;
}
.navbar-brand h1 {
    display: inline-block;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #333;
}

.jumbotron {
    background: none;
    padding: 5px 0;
    margin-bottom: 0;
}
.jumbotron h2 {
    font-size: 48px;
    text-align: center;
}

.signup.container form,
.login.container form {
    padding-top: 70px;
    max-width: 300px;
    margin: 0 auto;
}
