{{ template "header.html" . }}

<div class="jumbotron">
    <div class="container login">

        <br/><br/><br/>
        <h1>Login</h1>

        <form id="form-login" method="post">
            <p>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" class="form-control" placeholder="Username" required autofocus>
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <p><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button></p>
        </form>

    </div>
</div>

<script type="text/javascript">
    $(function() {
        JGoExampleApp.Form.Login($("#form-login"));
    });
</script>

{{ template "footer.html" . }}
